{% extends "header.html" %}
{% block content %}

<h1>{{node.gateway_description}}</h1>
<form method="POST"  enctype="multipart/form-data">
    {% csrf_token %}
    <p>
        <label>Введите описание:</label><br>
        <input type="text" name="gateway_description" value="{{node.gateway_description}}" />
    </p>
    <p>
        <label>Введите MAC:</label><br>
        <input type="number" name="gateway_MAC" value="{{node.gateway_MAC}}" />
    </p>
    <p>
        <label>Выберите изображение:</label><br>
        <input type="image" name="gateway_image" value="{{node.gateway_image}}" />
    </p>
    <p>
        <label>Выберите узлы:</label><br>
        <input type="number" name="gateway_node" value="{{node.gateway_node}}" />
    </p>
    <input type="submit" value="Сохранить" >
</form>


{% endblock %}  
