{% extends "header.html" %}
{% block content %}

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" style="font-size: 25px;width: 200px;text-align: center;">#</th>
        <th scope="col" style="font-size: 25px;width: 400px;">MAC</th>

       <!--- <th scope="col" style="font-size: 25px;">Описание</th>-->
        <th scope="col" style="width:180px;"> <button type="button" onclick="window.location.href='{% url "add_gateway" %}'";  class="btn btn-primary">Добавить шлюз</button></th>
      </tr>
    </thead>
    <tbody>
      <!---  onclick="window.location.href='/node/{{ gateway.pk }}'; " -->
{% for gateway in gateways %} 
<tr >
    <th style="text-align: center;" scope="row">{{ gateway.pk }}  </th>
    <td>{{ gateway.gateway_MAC }}</td>
  
    <!--- <td>{{node.node_description }}</td>-->
    <td scope="row"> <button type="button" class="btn btn-info">Изменить </button></td>
  </tr>
   
{% endfor %}


</tbody>
</table>


{% endblock %}  