{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <style type="text/css">
            
            .device
            {
                width: 50px;
                height: 50px;
                overflow: auto;
            }

            
            li
            {
                font-size: 20;
                margin-left: 50;

            }

        </style>
        
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="{% static 'css/style.css' %}"
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <script src= {% static "js/base.js" %}></script>
        
    </head>
<body>
    <nav   class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'index' %}" style="font-size: 45px;margin: 10px;">IOT</a> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
           <div class="collapse navbar-collapse" style="font-size: 20px;" id="navbarNavDropdown">
                    <ul class="navbar-nav" style="margin-left:3px ;">
                        <li class="nav-item">
                            <a class="nav-link" style="margin-left:23px ;" href="{% url 'index' %}">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="margin-left:23px ;" href="{% url 'node_list' %}">Узлы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="margin-left:23px ;"  href="{% url 'gateway_list' %}">Шлюзы</a>
                        </li>
                    </ul>
           </div>
   </nav>
  
  
   <div class="container">
    {% block content%}

    {% endblock %}
    </div>
    <script>
        
        

    </script>
</body>
</html>